<div id="comments" class="section">
  <div id="num-responses"><img src="/images/icons/ico_comments.png" alt=""><span class="responses-number">0</span> Responses. <a href="#comments">Add Yours!</a></div>
  <h3>Discussion</h3>
  <script type="text/javascript" charset="utf-8">
    var disqus_url = "http://ldw5258.github.com{{page.url}}";
    var disqus_developer = 1;
  </script>

  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/ldw5258/embed.js"></script>
  <noscript><a href="http://disqus.com/forums/ldw5258/?url=ref">View the discussion thread.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

